# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Env
.env
.env.*

# Build / dist
dist/
build/
*.log
node_modules/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tmp
*.swp

# Local DB
*.db
*.sqlite3
